body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgba(205, 192, 179, 0.619);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-content {
    height: 200px;
    width: 500px;
    margin: auto;
}

.about-content p {
    font-size: 20px;
    width: 60%;
}

.window-type-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.window-type-element {
    padding: 10px;
}

.window-type-element img {
    width: 150px;
}

.window-type-element p {
    text-align: center;
}

.contact-content {
    font-size: 20px;
    text-align: center;
}

footer {
    margin-top: auto;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(205, 192, 179, 0.619);
}

.footer-content {
    color: black;
    height: 20px;
    text-align: left;
    margin-left: 20px;
}